@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: Montserrat, sans-serif;
}

.container {
  width: min(980px, 85%);
  margin-inline: auto;
}

span {
  position: relative;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  min-height: 50px;
  width: max-content;
  padding: 1rem;
  color: #1b2b34;
  background: rgba(20, 230, 80, 0.8);
  z-index: 10;
}
